<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if user.account_admin?%>
    <strong class="role account-admin"> Account Admin </strong>
  <% end %><br>
  <%= user.email %><br>
  <%= user.phone %>
  <% if current_user.account_admin? && !current_user?(user) %>
    <%= link_to image_tag("Delete.png", :size => "25x25", alt: "Delete"), user, method: :delete,
                                            class: "delete-button",
                                            data: { confirm: "You sure?" } %>
    <%= link_to image_tag("Edit.png", :size => "25x25", alt: "Edit"), edit_user_path(user),
                                            class: "edit-button" %>
  <% end %>
</li>
