<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone %>

      <a href="#" show-hide-trigger="change-password" class="change-password">Change Password</a>

      <div class="hidden" show-hide-elements="change-password">
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary submit" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">Change</a>
  </div>
</div>
