<% provide(:title, 'All users') %>

<div id="index-head">
  <h1 class="contributors-list">All Contributors</h1>
  <% if current_user.account_admin? %>
    <%= link_to signup_path, :class =>'create-user' do %>
      <%= image_tag('Create_User.png', :size => "25x25") %>Create a new user
    <% end %>
  <% end %>
</div>

<%= will_paginate %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>
