<% provide(:title, @user.name) %>
<% if current_user?(@user) %>
    <% user_pronoun = "You have" %>
<% else %>
     <% user_pronoun = "This user has" %>
<% end %>
<div class="row">

  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url, :size => "80x80", :class => "avatar" %>
        <%= @user.name %>
      </h1>
        <%= @user.email %><br>
        <%= @user.phone %>
    </section>
  </aside>

  <div>
    <% user_contribution = @user.contributions.where(:status => "sent").sum(:value) %>
    <%= user_pronoun %>
    <% if user_contribution > 0 %>
      contributed a total of <span class="badge contribution-total">Rs.<%= user_contribution %></span> so far.
    <% else %>
      not contributed anything yet.
    <% end %>
  </div>

  <section class="contribution-widget well">
    <% current_month_contribution = @user.contributions.where(:month => Date.today.strftime("%b"), :year => Date.today.strftime("%Y")).first %>
    <%= image_tag("Calendar.png", :size => "25x25") %>
    <span class="label label-info"><%= Date.today.strftime("%b %Y") %></span>
    <div class="contribution-status">
      <%= user_pronoun %>
      <% if current_month_contribution.nil? %>
          not submitted the contribution for this month yet.
          <% if current_user?(@user) %>
            <div class="contribution-new">
                <%= render 'shared/contribution_form' %>
            </div>
          <% end %>
      <% else %>
          <%= current_month_contribution.status %> a contribution of
          <span contribution-status="<%= current_month_contribution.status %>">
            Rs.<%= current_month_contribution.value %>
          </span> this month.

          <% if current_user.account_admin? && current_month_contribution.status === "submitted" %>
            <%= form_for(current_month_contribution) do |f| %>
              <%= f.submit "Recieved" , class:"btn btn-success contribution-received"%>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </section>

</div>

<div class="row">
  <div class="contributions-list span8">
    <% if @previous_contributions.length > 0 %>
      <h3>
        <%= image_tag('Charity.png', :size => "35x35") %>
        Previous Contributions (<%= @previous_contributions.count %>)
      </h3>
      <ol class="contributions">
        <%= render @previous_contributions %>
      </ol>
      <%= will_paginate @previous_contributions %>
    <% end %>
  </div>
</div>
