<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <%= @user.email %><br>
        <%= @user.phone %>
    </section>
  </aside>
  <div>
    <% user_contribution = @user.contributions.where(:status => "sent" ).sum(:value) %>
    <% if current_user?(@user) %>
        You have
    <% else %>
         This user has
    <% end %>
    <% if user_contribution > 0 %>
      contributed a total of <span class="badge contribution-total">Rs.<%= user_contribution %></span> so far.
    <% else %>
      not contributed anything yet.
    <% end %>
  </div>
  <div class="contribution-new">
    <% if current_user?(@user) %>
      <%= image_tag('Contribute_Money.png', :size => "50x50") %>Submit a contribution
        <section class="contribution-form">
          <%= render 'shared/contribution_form' %>
        </section>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="contributions-list span8">
    <% if @user.contributions.length > 0 %>
      <h3>
        <%= "Your" if current_user?(@user) %>
        Contributions (<%= @user.contributions.count %>)
      </h3>
      <ol class="contributions">
        <%= render @contributions %>
      </ol>
      <%= will_paginate @contributions %>
    <% end %>
  </div>
</div>
