<%= form_for(@new_contribution) do |f| %>
  <div class = "contribution-new-value ">
    <%= f.label :value, "Rs." %>
    <%= f.number_field :value, min: 1, placeholder: "Value", class: "value" %>
    <%= image_submit_tag("Contribute.png", class: "submit-contribution", alt: "Contribute") %>
  </div>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Cannot submit contribution
      </div>
      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
