<% user = User.find(contribution_in_a_month.user_id) %>
<li>
  <div>
    <%= image_tag user.avatar.url, :size => "80x80", :class => "avatar" %>
    <strong><%= user.name %></strong>
    <span contribution-status="<%= contribution_in_a_month.status %>" class="row">
      <h6>Rs. <%= contribution_in_a_month.value %></h6>

      <% if current_user.account_admin? && contribution_in_a_month.status === "submitted" && contribution_in_a_month.month === Time.now.strftime("%b") %>
        <%= form_for(contribution_in_a_month) do |f| %>
          <%= f.submit "Recieved" , class:"btn btn-success btn-small"%>
        <% end %>
      <% end %>
    </span>
  </div>
</li>
