<% user = User.find(current_contribution.user_id) %>
<li>
  <div>
    <%= gravatar_for user %>
    <strong><%= user.name %></strong>
    <span contribution-status="<%= current_contribution.status %>" class="row">
      <h6>Rs. <%= current_contribution.value %></h6>

      <% if current_user.account_admin? && current_contribution.status === "submitted" %>
        <%= form_for(current_contribution) do |f| %>
          <%= f.submit "Recieved" , class:"btn btn-success btn-small"%>
        <% end %>
      <% end %>
    </span>
  </div>
</li>
