<li class="row alert alert-info">
  <a class="donation-details" show-hide-trigger="donation[<%= donation.id %>]">
    <h4>
      <span class="donation-value">Rs. <%= donation.value %></span> |
      <span class="donation-date"><%= Date.parse(donation.date.to_s).strftime("%B %d, %Y") %></span>
    </h4>
    <%= link_to image_tag("Edit.png", :size => "25x25", alt: "Edit"), edit_donation_path(donation),
                                            class: "edit-button" %>
  </a>
  <div class="hidden" show-hide-elements="donation[<%= donation.id %>]">
    <div class="span6">
      <h5>
        <%= image_tag('Info.png', :size => "30x30") %> Description
      </h5>
      <div class="resource-address well ">
        <%= raw donation.description %>
      </div>
      <h5>
        <%= image_tag('Bill.png', :size => "35x35") %> Bills Link
      </h5>
      <div class="resource-contact well ">
        <%= donation.bills %>
      </div>
    </div>
  </div>
</li>
