<li class="row alert alert-info">
  <a class="donation-details span5" show-hide-trigger="donation[<%= donation.id %>]">
    <h4>
      <span class="donation-value">Rs. <%= donation.value %></span> |
      <span class="donation-date"><%= Date.parse(donation.date.to_s).strftime("%B %d, %Y") %></span>
    </h4>
    <% if current_user.account_admin? %>
      <%= link_to image_tag("Edit.png", :size => "25x25", alt: "Edit"), edit_donation_path(donation),
                                              class: "edit-button" %>
    <% end %>                                        
  </a>
  <div class="hidden" show-hide-elements="donation[<%= donation.id %>]">
    <div class="span5">
      <h5>
        <%= image_tag('Info.png', :size => "30x30") %> Description
      </h5>
      <div class="donation-description well ">
        <%= raw donation.description %>
      </div>
    </div>
  </div>
</li>
