<li contribution-status="<%= contribution.status %>" class="row">
  <div class="contribution-details">
    <span class="contribution-value">Rs. <%= contribution.value %></span> |
    <span class="contribution-month"><%= contribution.month %></span>
    <span class="contribution-year"><%= contribution.year %></span>
    <!-- <span class="contribution-status"><%= contribution.status %></span> -->
  </div>
</li>
