<% provide(:desc, 'Home Page') %>

<% total_contributions = Contribution.where(:status => "sent").sum(:value) %>
<% total_donations = Donation.sum(:value) %>

<div class="center well">
  <h3>Current Balance : <span class="badge current-balance">Rs.<%= total_contributions - total_donations %></span><br></h3>
  Overall Contributions : <span class="badge contributions-total">Rs.<%= total_contributions %></span><br>
  Overall Donations : <span class="badge donations-total">Rs.<%= total_donations %></span>
</div>

<div class="row" id="contributions-donations">
  <div id="contributions-index" class="span6">
    <div class="contributions-index-head center">
      <%= image_tag('Charity.png', :size => "50x50") %><br>
      <h2> Contributions of</h2>
      <%= image_tag("Calendar.png", :size => "35x35", id:"contributions-filter-icon") %>
      <input type="text" id="contributions-filter-input" readonly='true' class="form-control" />
    </div>

    <%= render partial: 'contributions_of_month' %>
  </div>
  <div id="donations-index" class="span6">
    <div class="donations-index-head center">
      <%= image_tag('Donation.png', :size => "50x50") %><br>
      <h2> Donations of </h2>
      <%= image_tag("Calendar.png", :size => "35x35", id:"donations-filter-icon") %>
      <input type="text" id="donations-filter-input" readonly='true' class="form-control" />
    </div>
    <%= render partial: 'donations/all_donations' %>
  </div>
</div>
