<% provide(:title, @resource.name) %>

<div class="row">
  <section>
    <h1 class="center">
      <%= @resource.name %>
      <%= link_to image_tag("Delete_Icon.png", :size => "25x25", alt: "Delete"), @resource, method: :delete,
                                              class: "delete-button",
                                              data: { confirm: "You sure?" } %>
      <%= link_to image_tag("Edit_Icon.png", :size => "25x25", alt: "Edit"), edit_resource_path(@resource),
                                              class: "edit-button" %>
    </h1>
    <div class="span6">
      <h4>
        <%= image_tag('Address.png', :size => "30x30") %> Address
      </h4>
      <div class="resource-address well ">
        <%= raw @resource.address %>
      </div>
      <h4>
        <%= image_tag('Contact.png', :size => "30x30") %> Contact details
      </h4>
      <div class="resource-contact well ">
        <%= @resource.contact_details %>
      </div>
    </div>
    <div class="span6">
      <h4>
        <%= image_tag('Other_Details.png', :size => "30x30") %> Other Details
      </h4>
      <div class="resource-info well ">
        <%= raw @resource.other_details %>
      </div>
    </div>
  </section>
</div>

<div class="row">
  <div class="donations-head">
    <h3 class="donations-title">Donations</h3>
    <%= link_to new_donation_path(:resource => @resource), :class =>'create-donation' do %>
      <%= image_tag('Donation.png', :size => "30x30") %> Submit a new donation
    <% end %>
  </div>
  <div class="donations-list span8">
    <ol class="donations">
    <% if @donations.length > 0 %>
      <%= render @donations %>
      <%= will_paginate @donations %>
    <% else %>
      <div class="alert alert-info">This resource has not received any donations from us!</div>
    <% end %>
    </ol>
  </div>
</div>
