<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="navbar-bg">
    <div class="container">
      <%= link_to image_tag("wcot_logo.png", alt: "WCoT", style: 'height:25px;margin-bottom:5px;'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Contributors", users_path %></li>
            <li><%= link_to "Resources", resources_path %></li>
            <li><%= link_to "Meetings", meetings_path %></li>
            <li class="dropdown">
              <a class="dropdown-trigger">Account <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-content">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li id="sign-out">
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
